.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #252422;
    height: 50px;
}

.navigationDiv {
    display: flex;
    position: relative;
    align-items: center;
    margin-left: 20px;
}

.searchDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}
.navButton {
    color: #939699;
    margin-left: 15px;
    text-decoration: none;
    margin-right: 15px;
}

.navButton:hover {
    cursor: pointer;
    color: white;
}

.createButton {
    color: #939699;
    margin-left: 15px;
    text-decoration: none;
    margin-right: 15px;
    border: 1px solid #939699;
    border-radius: 20px;
}

.createButton .text {
    color: white;
    padding: 5px;
    padding-left: 20px;
    padding-right:20px;
    margin: 0;
    border-radius: 20px;
    white-space: nowrap;
}

.createButton .text:hover {
    background-color: #219ebc;
}



.searchText {
    border-radius: 15px;
    text-align: center;
    height: 37px;
    width: 60%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: none; 
    background-color: #ffff;
}

.searchText:focus {
    outline: none;
}

.searchButton {
    border-radius: 15px;
    height: 39px;
    border: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    align-items: center;
    background-color: #ffff;
    width: 40px;
}

.searchButton:hover {
    cursor: pointer;
}

.accountActions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgSearch {
    width: 20px;
}

.profileIcon {
    width: 38px;
    border-radius: 100%;
    margin-right: 15px;

}

.profileIcon:hover {
    cursor: pointer;
}

.img404NotFoundDog {
    margin-left: -70px;
}

.modalMessage {
    color: #0077b6
}