body {
  background-image: url("./asses/LightBackground.png");
  margin: 0;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color .2s ease-in;
  min-width: 1350px;
}

body::-webkit-scrollbar {
  width: 7px;
  background-color: white;
}

body::-webkit-scrollbar-thumb {
  width: 5px;
  border-radius: 10px;
  background-color: #0077b6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

