.body {
    display: flex;
    justify-content: center;
}

.container {
    width: 60%;
    background-color: white;
    display: flex;
    margin-top: 25px;
    padding: 25px;
    border-radius: 15px;
    transition: all .2s ease-in;
}

.container_dark {
    width: 60%;
    background-color: #1B1A1F;
    color: white;
    display: flex;
    margin-top: 25px;
    padding: 25px;
    border-radius: 15px;
    transition: all .2s ease-in;
}

.pictureSide {
    display: flex;
    flex-direction: column;
    width: 30%;
    position: relative;
}

.pictureSide h2 {
    color: rgb(49, 48, 48);
    margin: 0;
    margin-top: 20px;
    background-color: #219ebc;
    border-radius: 10px;
    color: white;
}

.profilePic {
    width: 240px;
    height: 240px;
    cursor: pointer;
    border-radius: 100%;
}

.overlay {
    width: 240px;
    height: 240px;
    border-radius: 100%;
    position: absolute;
    transition: all .2s ease-in;
    cursor: pointer;

}

.editicon {
    width: 50px;
    margin: auto;
    position: absolute;
    top: 90px;
    left: 90px;
    opacity: 0;
    cursor: pointer;
}

.overlay:hover {
    width: 240px;
    height: 240px;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.274);
    position: absolute;
    transition: all .2s ease-in;
}

.overlay:hover ~ .editicon {
    opacity: 1;
}

.editicon:hover {
    opacity: 1;
}

.editicon:hover ~ .overlay {
    width: 240px;
    height: 240px;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.274);
    position: absolute;
    transition: all .2s ease-in;
}



.infoUser {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    border-left: 2px solid #219ebc;
    margin-left: 20px;
}
.titleBreed {
    margin: 0;
}

.pictureSide p {
    margin: 0;
    margin-top: 5px;
    font-size: 17px;
}

.DogsContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 350px;
    overflow: auto;
}

.DogsContainer::-webkit-scrollbar {
    width: 7px;
}

.DogsContainer::-webkit-scrollbar-thumb {
    background-color: #219ebc;
    border-radius: 5px;
    margin-right: 20px;
}

.dogbreed {
    width: 200px;
    height: 150px;
    position: relative;
    margin-top: 20px;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
}

.dogPic {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.DogName {
    position: absolute;
    width: 100%;
    bottom: 0px;
    margin: 0;
    padding: 5px 0;
    z-index: 1;
    color: white;
    font-size: 20px;
    background-color: #219ebc;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.containerChangePic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profilePicChange {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.inputPicChange {
    border-radius: 5px;
    height: 25px;
}

.buttonSavePic {
    border-radius: 5px;
    height: 50px;
    width: 80px;
    margin-top: 10px;
    background-color: white;
    color: #219ebc;
    border: none;
    filter: drop-shadow(2px 2px 2px rgb(211, 208, 208));
    transition: .2s all ease-in;
}

.buttonSavePic:hover {
    cursor: pointer;
    background-color: #219ebc;
    color: #ffff;
}