.container {
    width: 380px;
    height: 300px;
    margin: 15px;
    border-radius: 20px;
    background-color: white;
    filter: drop-shadow(2px 2px 2px rgb(211, 208, 208));
    transition: .2s all ease-in;
    overflow: hidden;
    
}

.container_dark {
    width: 380px;
    height: 300px;
    margin: 15px;
    border-radius: 20px;
    background-color: #1B1A1F;
    filter: drop-shadow(5px 5px 5px rgba(116, 115, 115, 0.7));
    transition: .2s all ease-in;
    overflow: hidden;
}

.container_dark:hover {
    cursor: pointer;
}

.container:hover {
    cursor: pointer;
}

.container:hover :first-child{
    filter: brightness(105%)
}

.container_dark:hover :first-child{
    filter: brightness(105%)
}

.imgSide {
    width: 100%;
    height: 70%;
    position: relative;
    overflow: hidden;
}



.statsContainer {
    width: 100%;
    height: 100%;
    background-color: #252422;
    opacity: 0.5;
    border-radius: 20px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    top: 0;
    position: absolute;
    transition: .2s all ease-in;
    transform: translate(0, 100%);
}

.container:hover .statsContainer {
    transition: .2s all ease-in;
    transform: translate(0, 0);
}

.container_dark:hover .statsContainer {
    transition: .2s all ease-in;
    transform: translate(0, 0);
}

.stats {
    color: white;
    position: absolute;
    top: 60%;
    left: 100px;
    transform: translate(0, 200%);
}

.container:hover .stats {
    transition: .2s all ease-in;
    transform: translate(0, 0);
}

.container_dark:hover .stats {
    transition: .2s all ease-in;
    transform: translate(0, 0);
}

.stats p {
    margin: 0;
    margin-left: 20px;
    position: relative;
    top: 33px

}

.NameSide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    
}

.NameSide_dark {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    
}

.FooterSide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    border-top: 1px solid #d6d3d2;
    transition: .2s all ease-in;
    font-size: 12px;
}

.FooterSide_dark {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    border-top: 1px solid #696766;
    transition: .2s all ease-in;
    color: white;
    font-size: 12px;
}

.imagen {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transition: .4s all ease-in;
}

.container:hover .imagen {
    width: 102%;
    height: 102%;
    transition: .4s all ease-in;
}

.container_dark:hover .imagen {
    width: 102%;
    height: 102%;
    transition: .4s all ease-in;
}

.CardName {
    color: #252422;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    vertical-align: baseline;   
    transition: .2s all ease-in; 
}



.CardName_dark {
    color: white;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    vertical-align: baseline; 
    transition: .2s all ease-in; 
}

.link {
    text-decoration: none;
}
