.container {
    width: 400px;
    height: 400px;
    margin: 15px;
    border-radius: 20px;
    background-color: white;
    filter: drop-shadow(2px 2px 2px rgb(211, 208, 208));
    transition: .2s all ease-in;
}

.container_dark {
    width: 400px;
    height: 400px;
    margin: 15px;
    border-radius: 20px;
    background-color: #1B1A1F;
    filter: drop-shadow(2px 2px 2px rgb(65, 64, 64));
    transition: .2s all ease-in;
    
}

.container_dark:hover {
    cursor: pointer;
}

.container:hover {
    cursor: pointer;
}

.container:hover :first-child{
    filter: brightness(105%)
}

.container_dark:hover :first-child{
    filter: brightness(105%)
}

.imgSide {
    width: 100%;
    height: 70%;
    position: relative;
}



.statsContainer {
    width: 160px;
    height: 50px;
    background-color: #252422;
    opacity: 0.5;
    position: absolute;
    bottom: 5px;
    left: 5px;
    border-radius: 20px;
}
.stats {
    color: white;
    position: absolute;
    top: 70%;
}

.stats p {
    margin: 0;
    margin-left: 20px;
    position: relative;
    top: 33px

}

.NameSide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
}

.NameSide_dark {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    
}

.FooterSide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    border-top: 1px solid #d6d3d2;
    transition: .2s all ease-in;
}

.FooterSide_dark {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    border-top: 1px solid #696766;
    transition: .2s all ease-in;
    color: white;
}

.imagen {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.CardName {
    color: #252422;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    vertical-align: baseline;   
    transition: .2s all ease-in; 
}

.CardName_dark {
    color: white;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    vertical-align: baseline; 
    transition: .2s all ease-in; 
}