.container {
    display: flex;
    justify-content: center;
    width: 100%;

}

.AllDogsDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.imgLoading {
    justify-items: center;
    align-items: center;
}