.container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(230, 231, 236);
    height: 100%;
}

.AllDogsDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.imgLoading {
    justify-items: center;
    align-items: center;
}

.DogsSide {
    width: 100%;
    height: 100%;
}


