.container {
    display: flex;
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(2px 2px 2px rgb(211, 208, 208));
    width: 80%;
    height: 400px;
    margin: auto;
    margin-top: 20px;
    transition: all .2s ease-in;
}

.container_dark {
    background-color: #1B1A1F;
    color: white;
    display: flex;
    border-radius: 20px;
    filter: drop-shadow(2px 2px 2px rgb(63, 60, 60));
    width: 80%;
    height: 400px;
    margin: auto;
    margin-top: 20px;
    transition: all .2s ease-in;
}

.image {
    position: relative;
    top: 93px;
    left: 5px;
}

.Form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.title {
    height: 70px;
}

.formBody {
    display: flex;
    justify-content: center;
    height: 280px;
}

.textSide {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.inputSidde {
    display: flex;
    flex-direction: column;
    width: 25%;
    position: relative;
}

.previewSide {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.previewImg {
    margin: auto;
    width: 100%;
    height: 230px;
    border-radius: 15px;
}

.line {
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;
    
}

.line p {
    margin-left: 15px;
}

.input {
    border-radius: 5px;
    height: 20px;
    text-align: center;
}

.inputDouble {
    border-radius: 5px;
    width: 75px;
    margin-right: 10px;
}

.inputWrong {
    border-radius: 5px;
    height: 20px;
    text-align: center;
    background-color: rgb(243, 193, 193);
}

.inputDoubleWrong {
    width: 75px;
    margin-right: 10px;
    background-color: rgb(243, 193, 193);
}

.buttonsSubmit {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s ease-in;
}

.buttonsSubmit_dark {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s ease-in;
}

.buttonsSubmit button {
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 5px;
    position: relative;
    top: -10px;
    height: 25px;
    width: 120px;
    background-color: white;
    color: #219ebc;
    border: 1px solid #219ebc;
    filter: drop-shadow(2px 2px 2px rgb(211, 208, 208));
    transition: all .2s ease-in;
}

.buttonsSubmit_dark button {
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 5px;
    position: relative;
    top: -10px;
    height: 25px;
    width: 120px;
    background-color: #1B1A1F;
    color: #219ebc;
    border: 1px solid #219ebc;
    filter: drop-shadow(2px 2px 2px rgb(44, 44, 44));
    transition: all .2s ease-in;
}

.buttonCreate:hover {
    cursor: pointer;
    background-color: #219ebc;
    color: #ffff;
    transition: all .2s ease-in;
}

.buttonCreate_dark:hover {
    cursor: pointer;
    background-color: #219ebc;
    color: #ffff;
    transition: all .2s ease-in;
}

.buttonCreate:disabled {
    border: 1px solid red;
    color: red;
    cursor: not-allowed;
}

.buttonCreate_dark:disabled {
    border: 1px solid red;
    color: red;
    cursor: not-allowed;
}

.buttonsSubmit button:disabled:hover {
    border: 1px solid red;
    color: red;
    background-color: white;
}

.buttonsSubmit_dark button:disabled:hover {
    border: 1px solid red;
    color: red;
    background-color: #1B1A1F;
}

.errores {
    margin-left: 15px;
    background-color: #ffff;
    border-radius: 10px;
    width: 300px;
    padding: 5px;
}

.done {
    position: absolute;
}

.ModalButton {
    width: 50px;
    cursor: pointer;
}

.modalImgDone {
    width: 300px;
}

.addTemperamentButton {
    width: 175px;
    border-radius: 5px ;
    border: 1px solid #219ebc;
    height: 25px;
    background-color: white;
    font-family: Roboto;
    color: #219ebc;
    transition: .2s all ease-in;
}

.addTemperamentButton:hover {
    cursor: pointer;
    background-color: #219ebc;
    color: white;
    border: 1px solid white;
}

.temperamentWindows {
    position: absolute;
    width: 500px;
    height: 400px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: white;
    z-index: 1;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.headerTemperament {
    width: 100%;
}

.headerTemperament h2 {
    margin: 0;
    background-color: #1B1A1F;
    color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 5px;
}

.selectionTemperamentList {
    width: 90%;
    height: 200px;
    margin-top: 10px;
    border: 1px solid #1B1A1F;
    overflow: auto;
}

.selectionTemperamentList p {
    margin: 0;
    padding: 5px;
}

.selectionTemperamentList p:hover {
    background-color: #219ebc;
    cursor: pointer;
}

.selectionTemperamentList::-webkit-scrollbar {
    width: 7px;
}

.selectionTemperamentList::-webkit-scrollbar-thumb {
    background-color: #219ebc;
    border-radius: 5px;
    margin-right: 20px;
}

.Selected {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Selected p {
    border: 1px solid #219ebc;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #219ebc;
    color: white;
    align-items: center;
    cursor: pointer;
}

.buttomFinish {
    border-radius: 5px;
    margin-top: 10px;
    height: 40px;
    width: 100px;
    background-color: white;
    color: #219ebc;
    border: none;
    filter: drop-shadow(2px 2px 2px rgb(211, 208, 208));
    transition: .2s all ease-in;
}

.buttomFinish:hover {
    cursor: pointer;
    background-color: #219ebc;
    color: #ffff;
}