.container {
    display: flex;
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(2px 2px 2px rgb(211, 208, 208));
    width: 80%;
    height: 400px;
    margin: auto;
    margin-top: 20px;
    transition: all .2s ease-in;
}

.container_dark {
    background-color: #1B1A1F;
    color: white;
    display: flex;
    border-radius: 20px;
    filter: drop-shadow(2px 2px 2px rgb(63, 60, 60));
    width: 80%;
    height: 400px;
    margin: auto;
    margin-top: 20px;
    transition: all .2s ease-in;
}

.image {
    position: relative;
    top: 93px;
    left: 5px;
}

.Form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.title {
    height: 70px;
}

.formBody {
    display: flex;
    justify-content: center;
    height: 280px;
}

.textSide {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.inputSidde {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.previewSide {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.previewImg {
    margin: auto;
    width: 100%;
    height: 230px;
    border-radius: 15px;
}

.line {
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;
    
}

.line p {
    margin-left: 15px;
}

.input {
    border-radius: 5px;
    height: 20px;
    text-align: center;
}

.inputDouble {
    border-radius: 5px;
    width: 75px;
    margin-right: 10px;
}

.inputWrong {
    border-radius: 5px;
    height: 20px;
    text-align: center;
    background-color: rgb(243, 193, 193);
}

.inputDoubleWrong {
    width: 75px;
    margin-right: 10px;
    background-color: rgb(243, 193, 193);
}

.buttonsSubmit {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s ease-in;
}

.buttonsSubmit_dark {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s ease-in;
}

.buttonsSubmit button {
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 5px;
    position: relative;
    top: -10px;
    height: 25px;
    width: 120px;
    background-color: white;
    color: #219ebc;
    border: 1px solid #219ebc;
    filter: drop-shadow(2px 2px 2px rgb(211, 208, 208));
    transition: all .2s ease-in;
}

.buttonsSubmit_dark button {
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 5px;
    position: relative;
    top: -10px;
    height: 25px;
    width: 120px;
    background-color: #1B1A1F;
    color: #219ebc;
    border: 1px solid #219ebc;
    filter: drop-shadow(2px 2px 2px rgb(44, 44, 44));
    transition: all .2s ease-in;
}

.buttonCreate:hover {
    cursor: pointer;
    background-color: #219ebc;
    color: #ffff;
    transition: all .2s ease-in;
}

.buttonCreate_dark:hover {
    cursor: pointer;
    background-color: #219ebc;
    color: #ffff;
    transition: all .2s ease-in;
}

.buttonCreate:disabled {
    border: 1px solid red;
    color: red;
    cursor: not-allowed;
}

.buttonCreate_dark:disabled {
    border: 1px solid red;
    color: red;
    cursor: not-allowed;
}

.buttonsSubmit button:disabled:hover {
    border: 1px solid red;
    color: red;
    background-color: white;
}

.buttonsSubmit_dark button:disabled:hover {
    border: 1px solid red;
    color: red;
    background-color: #1B1A1F;
}

.errores {
    margin-left: 15px;
    background-color: #ffff;
    border-radius: 10px;
    width: 300px;
    padding: 5px;
}

.done {
    position: absolute;
}

.ModalButton {
    width: 50px;
    cursor: pointer;
}

.modalImgDone {
    width: 300px;
}